<div class="row" ng-controller="tabMenuCtrl">
    <div class="col-lg-12">
        <div class="tabs-container">
            <uib-tabset>
                <uib-tab ng-click="getInclude(1)">
                    <uib-tab-heading>
                        Tab 1 {{tabPage}}
                    </uib-tab-heading>
                    <div class="panel-body">
                        <!-- Tab01 -->
                        <div ng-include="'{{tabPage}}'"></div>
                    </div>
                </uib-tab>
                <uib-tab ng-click="getInclude(2)">
                    <uib-tab-heading>
                        Tab 2 {{tabPage}}
                    </uib-tab-heading>
                    <div class="panel-body">
                        <!-- Tab02 -->
                        <div ng-include="'{{tabPage}}'"></div>
                    </div>
                </uib-tab>
                <uib-tab ng-click="getInclude(3)">
                    <uib-tab-heading>
                        {{'MAINTENANCE' | translate}}
                    </uib-tab-heading>
                    <div class="panel-body">
                        <!-- Tab03 -->
                        <div ng-include="'{{tabPage}}'"></div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>