<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <li>
                    <span class="nav-label">{{ 'DASHBOARD' | translate }}</span>
                    <div class="pull-right">
                        <a><strong><span  class="nav-label" minimaliza-sidebar></span></strong></a>
                    </div>
                </li>

                
                <h1>
                </h1>
                <small>
                </small>
            </div>
        </div>
    </div>
</div>